//
   Created with JetBrains WebStorm.
   User: Sophia
   Date: 5/8/13
   Time: 2:15 PM
   To change this template use File | Settings | File Templates.

extends ../layout

block content
    title= title
    #container
        h2 搜索结果
        if (users != null)
            for user,index in users
                li #{index + 1}. #{user.name} #{user.email}
                if (user.type == 'friend')
                    button(id="sendMessage", name="sendMessage",for="#{user.id}", class="formbtn") 发送私信
                else
                    button(id="sendMessage", name="requestFriend", for="#{user.id}", class="formbtn") 加为好友
                br